<div class="container">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Welcome Home!</h4>
        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer
            so that you can see how spacing within an alert works with this kind of content.</p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
    </div>
    <a href="/login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Login</a>
    <a href="/join" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Join</a>
    <a href="/view" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View</a>
    <a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Home</a>

</div>